<h2>Media Falsehoods</h2>

<div *ngIf="!createNew">
    <div>
        <label>Search Falsehood</label>
    </div>

    <div *ngIf="mainFalsehood">
        <table>
            <tr>
                <th>Fields</th>
                <th>Details</th>
            </tr>
            <tr>
                <td>ID</td>
                <td>{{mainFalsehood.metadata.id}}</td>
            </tr>
            <tr>
                <td>Media Outlet</td>
                <td>{{mainFalsehood.metadata.outlet.name}}</td>
            </tr>
            <tr>
                <td>Common Lie</td>
                <td>{{mainFalsehood.metadata.commonLie?.title}}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{{mainFalsehood.metadata.status}}</td>
            </tr>
            <tr>
                <td>Severity</td>
                <td>{{mainFalsehood.metadata.severity}}</td>
            </tr>
            <tr>
                <td>Author 1</td>
                <td>{{mainFalsehood.metadata.author1.firstname + mainFalsehood.metadata.author1.lastName}}</td>
            </tr>
            <tr *ngIf="mainFalsehood.metadata.author2">
                <td>Author 2</td>
                <td>{{mainFalsehood.metadata.author2.firstname + mainFalsehood.metadata.author2.lastName}}</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>{{mainFalsehood.metadata.dateMade}}</td>
            </tr>
        </table>

        <div [innerHTML]="mainFalsehood.contents | marked"></div>
    </div>

</div>

<div *ngIf="createNew" class="container form">
    <label>Media Outler</label>
    <input type="text" [(ngModel)]="newFalsehoodOutlet">
    <br>
    <label>Common Lie</label>
    <input type="text" [(ngModel)]="newFalsehoodCLie">
    <br>
    <label>Media Type</label>
    <select [(ngModel)]="newFalsehoodMT">
        <option value="0">Article</option>
        <option value="1">Video</option>
    </select>
    <br>
    <label>Severity</label>
    <select [(ngModel)]="newFalsehoodSev">
        <option value="1">Objective Falsehood</option>
        <option value="2">Omitted Information</option>
        <option value="4">Subjective Falsehood</option>
        <option value="5">Something</option>
    </select>
    <br>
    <label>Author 1</label>
    <input type="text" [(ngModel)]="newFalsehoodA1">
    <br>
    <label>Author 2</label>
    <input type="text" [(ngModel)]="newFalsehoodA2">
    <br>
    <label>Date Made</label>
    <input type="date" [(ngModel)]="newFalsehoodDate">

    <textarea [(ngModel)]="editContents"></textarea>
  
  
    <div [innerHTML]="editContents | marked"></div>
  
    <button class="btn bg-info" (click)="stopCreateNew()"></button>

</div>