<nav class="navbar navbar-expand-lg navbar-light container">
    <p class="navbar-brand">Navbar</p>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item" (click)="setAppealMode(1)">Submit New Falsehood Appeal</li>
          <li class="nav-item" (click)="setAppealMode(2)">Browse Appeals</li>
          <li class="nav-item"></li>
        </ul>
      </div>
</nav>


<div *ngIf="appealMode == 1" class="container">
  <button class="btn bg-info" (click)="ClearNewAppeal()">Reset</button>
  <div *ngIf="!medFalsehood && !pubFalsehood">
    <button class="btn bg-info" (click)="SelectMediaFalsehood()">Select Media Falsehood</button>
    <button class="btn bg-info" (click)="SelectPublicFalsehood()">Select Public Falsehood</button>
    <br>
    <div *ngIf="selectMode == 1 && !searchMedComponent.falsehood">
      <app-falsehood-search ></app-falsehood-search>
    </div>
    <div *ngIf="selectMode == 2 && !searchPubComponent.falsehood">
      <app-public-falsehood-search ></app-public-falsehood-search>
    </div>
    
    <div *ngIf="searchMedComponent.falsehood || searchPubComponent.falsehood">
      <h4>Falsehood Details</h4>
      <div [innerHTML]="(searchMedComponent.falsehood?.contents || searchPubComponent.falsehood.contents) | marked"></div>

      <br>
      <h4>Desired State</h4>
      <select class="form-control" [(ngModel)]="desiredState">
        <option value="Challenged">Challenge</option>
        <option value="Upgrade">Upgrade</option>
      </select>

      <br>

      <h4>Your Reason</h4>
      <textarea [(ngModel)]="reason"></textarea>

      <br>
      <button class="btn bg-info" (click)="submitAppeal()">Submit Appeal</button>
    </div>

  </div>

</div>

<div *ngIf="appealMode == 2" class="container">
  <label>Enter Appeal ID</label>
  <input type="number" [(ngModel)]="desiredAppealId">
  <button class="btn bg-info" (click)="seekAppeal()">Retrieve Appeal</button>
  <br>

  <div ngIf*="currentAppeal">
    <table class="table table-hover" *ngIf="currentAppeal.appeal?.falsehood">
      <tr>
          <th>Fields</th>
          <th>Details</th>
      </tr>
      <tr>
          <td>ID</td>
          <td>{{currentAppeal.appeal.falsehood.id}}</td>
      </tr>
      <tr>
          <td>Media Outlet</td>
          <td>{{currentAppeal.appeal.falsehood.outlet.name}}</td>
      </tr>
      <tr>
          <td>Common Lie</td>
          <td>{{currentAppeal.appeal.falsehood.commonLie?.title}}</td>
      </tr>
      <tr>
          <td>Status</td>
          <td>{{currentAppeal.appeal.falsehood.status}}</td>
      </tr>
      <tr>
          <td>Severity</td>
          <td>{{currentAppeal.appeal.falsehood.severity}}</td>
      </tr>
      <tr>
          <td>Author 1</td>
          <td>{{currentAppeal.appeal.falsehood.author1.firstname + currentAppeal.appeal.falsehood.author1.lastName}}</td>
      </tr>
      <tr *ngIf="currentAppeal.appeal.falsehood.author2">
          <td>Author 2</td>
          <td>{{currentAppeal.appeal.falsehood.author2.firstname + currentAppeal.appeal.falsehood.author2.lastName}}</td>
      </tr>
      <tr>
          <td>Date</td>
          <td>{{currentAppeal.appeal.falsehood.dateMade}}</td>
      </tr>
    </table>

    <table class="table table-hover" *ngIf="currentAppeal.appeal?.pFalsehood">
    <tr>
        <th>Fields</th>
        <th>Details</th>
    </tr>
    <tr>
        <td>ID</td>
        <td>{{currentAppeal.appeal.pFalsehood.id}}</td>
    </tr>
    <tr>
        <td>Common Lie</td>
        <td>{{currentAppeal.appeal.pFalsehood.commonLie?.title}}</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>{{currentAppeal.appeal.pFalsehood.status}}</td>
    </tr>
    <tr>
        <td>Severity</td>
        <td>{{currentAppeal.appeal.pFalsehood.severity}}</td>
    </tr>
    <tr>
        <td>Public Official</td>
        <td>{{currentAppeal.appeal.pFalsehood.official.firstname + currentAppeal.appeal.pFalsehood.official.lastName}}</td>
    </tr>
    <tr>
        <td>Date</td>
        <td>{{currentAppeal.appeal.pFalsehood.dateMade}}</td>
    </tr>
    <tr>
        <td>Region</td>
        <td>{{currentAppeal.appeal.pFalsehood.region.name}}</td>
    </tr>
    <tr>
        <td>Institution</td>
        <td>{{currentAppeal.appeal.pFalsehood.institution.name}}</td>
    </tr>
    </table>

    <h6>Desired State: {{currentAppeal.appeal.desiredState}}</h6>
    <br>

    <div [innerHTML]="currentAppeal.reason | marked"></div>

    <br>
    <button class="btn ng-info" (click)="attemptSign()">Offer To Sign (You will get an email)</button>
    <br>

    <div *ngIf="attemptedSign">
      <p>You should recieve an email from us related to the Appeal you wish to sign. To verify your signature, please enter the Validation code in that email
        into the text box below</p>
      <label>Appeal Validation</label>
      <input type="text" [(ngModel)]="validationCode">
      <button class="btn bg-info" (click)="attemptRatification()">Confirm Signature</button>
    </div>

  </div>


</div>
