<h2>Media Outlets</h2>

<div *ngIf="!createNew">

    <div>
        <button *ngIf="token.credit >= 35" class="btn bg-info" (click)="startCreateNew()">Create New</button>
        <label>Search Media Outlet</label>
        <input type="search" (change)="onSearchUpdate($event)" [(ngModel)]="searchText" placeholder="Search Media Outlet">

        <ul *ngFor="let outlet of searchOutlets">
          <li (click)="getOutlet(outlet.outletId)">Public Figure: {{outlet.name}}, founded {{outlet.foundationYear}}</li>
        </ul>
    </div>

    <div *ngIf="mainOutlet && mainOutlet.outlet">
        <h3>Title: {{mainOutlet.outlet.name}}</h3>
    
        <button class="btn bg-info" (click)="setMode(1)">Wiki</button>
        <button class="btn bg-info" (click)="setMode(2)">Media Falsehoods</button>

        <div *ngIf="mode==1" [innerHTML]="mainOutlet.text | marked"></div>

        <div *ngIf="mode==2">
            <app-falsehood-search></app-falsehood-search>
        </div>
    </div>

</div>

<div *ngIf="token.credit >= 40 && createNew">
    <label>Name</label>
    <input type="text" [(ngModel)]="editName"><br>
    <label>Year Founded</label>
    <input type="number" [(ngModel)]="editYear" min="1000" max="2100"><br>
    <textarea [(ngModel)]="editContents"></textarea>
  
  
    <div [innerHTML]="editContents | marked"></div>
  
    <button class="btn bg-info" (click)="addNewOut()">Submit</button>
    <button class="btn bg-info" (click)="stopCreateNew()">Cancel</button>
  </div>
