<h2>Public Falsehoods</h2>

<div *ngIf="!createNew">
    <button class="btn bg-info" (click)="startCreateNew()">Create New Falsehood</button>
    <button class="btn bg-info" (click)="startSearch()">Search Falsehoods</button><br>
    <div *ngIf="doSearch">
        <label>Search Falsehood</label><br>
        <label>By Date?</label>

        <!-- Handle Dates-->
        <input type="radio" name="ByDate" (click)="setDateSearchMode(0)" id="noDates" clicked><label for="noDates">No Dates</label>
        <input type="radio" name="ByDate" (click)="setDateSearchMode(1)" id="beforeDates" clicked><label for="beforeDates">Before Date</label>
        <input type="radio" name="ByDate" (click)="setDateSearchMode(2)" id="betweenDates" clicked><label for="betweenDates">Between Dates</label>
        <br>
        <div *ngIf="dateSearchMode > 0">
            <label>Latest Date</label>
            <input type="date" [(ngModel)]="search.to">
            <br>
        </div>
        <div *ngIf="dateSearchMode > 1">
            <label>Earliest Date</label>
            <input type="date" [(ngModel)]="search.from">
            <br>
        </div>

        <!-- Handle Severity-->
        <label>Minimum Severity</label>
        <select [(ngModel)]="search.minimum">
            <option value="null">[Not Selected]</option>
            <option value="LIE">Lie</option>
            <option value="OBJECTOVE_FALSEHOOD">Objective Falsehood</option>
            <option value="MISLEADING">Omitted Information</option>
            <option value="HYPOCRISY">Hypocracy</option>
            <option value="SUBJECTIVE_FALSEHOOD">Subjective Falsehood</option>
            <option value="FAULTY_LOGIC">Faulty Logic</option>
        </select>
        <br>
        <label>Maximum Severity</label>
        <select [(ngModel)]="search.maximum">
            <option value="null">[Not Selected]</option>
            <option value="LIE">Lie</option>
            <option value="OBJECTOVE_FALSEHOOD">Objective Falsehood</option>
            <option value="MISLEADING">Omitted Information</option>
            <option value="HYPOCRISY">Hypocracy</option>
            <option value="SUBJECTIVE_FALSEHOOD">Subjective Falsehood</option>
            <option value="FAULTY_LOGIC">Faulty Logic</option>
        </select>
        <br>

        <!--Institution-->
        <label>By Institution</label>
        <input type="search" (change)="onSearchInst($event)" [(ngModel)]="searchInsitution" placeholder="Search Institution">
      
        <ul *ngFor="let inst of institutionList">
          <li (click)="setInst(inst)">Institution: {{inst.name}}</li>
        </ul>

        <div *ngIf="search.institution">
            <h6>Selected Institution: {{search.institution.name}}</h6>
            <button class="btn bg-info" (click)="setInst(null)">Clear Institution</button>
        </div>
        <div *ngIf="!search.institution">
            <h6>No Institution Selected!</h6>
        </div>

        <!--Region-->
        <label>By Region</label>
        <input type="search" (change)="onSearchReg($event)" [(ngModel)]="searchRegion" placeholder="Search Region">
      
        <ul *ngFor="let reg of regionList">
          <li (click)="setReg(reg)">Region: {{reg.name}}</li>
        </ul>

        <div *ngIf="search.region">
            <h6>Selected Region: {{search.region.name}}</h6>
            <button class="btn bg-info" (click)="setReg(null)">Clear Region</button>
        </div>
        <div *ngIf="!search.region">
            <h6>No Region Selected!</h6>
        </div>

        <!--Public Official-->
        <br>
        <label>By Author (public Official)</label>
        <input type="search" (change)="onSearchAuthor($event)" [(ngModel)]="searchAuthor" placeholder="Search Author (public Figure)">

        <ul *ngFor="let author of authorList">
          <li (click)="setAuthor(author)">Public Figure: {{author.firstname}} {{author.middleNames}} {{author.lastName}}</li>
        </ul>

        <div *ngIf="search.official">
            <h6>Selected Author: {{search.official.firstname}} {{search.official.middleNames}} {{search.official.lastName}}</h6>
            <button class="btn bg-info" (click)="setAuthor(null)">Clear Official</button>
        </div>
        <div *ngIf="!search.official">
            <h6>No Author Selected!</h6>
        </div>
        <br>
        <label>Page Number</label>
        <input type="number" min="0" [(ngModel)]="search.page"> <br>
        <label>Page Size</label>
        <input type="number" min="1" [(ngModel)]="search.numberOfEntries"> <br>
        <button class="btn bg-info" (click)="submitSearch()">Submit Search</button>
    </div>

    <app-public-falsehood-search></app-public-falsehood-search>

    <div *ngIf="mainFalsehood">
        <table>
            <tr>
                <th>Fields</th>
                <th>Details</th>
            </tr>
            <tr>
                <td>ID</td>
                <td>{{mainFalsehood.metadata.id}}</td>
            </tr>
            <tr>
                <td>Common Lie</td>
                <td>{{mainFalsehood.metadata.commonLie?.title}}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{{mainFalsehood.metadata.status}}</td>
            </tr>
            <tr>
                <td>Severity</td>
                <td>{{mainFalsehood.metadata.severity}}</td>
            </tr>
            <tr>
                <td>Public Official</td>
                <td>{{mainFalsehood.metadata.official.firstname + mainFalsehood.metadata.official.lastName}}</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>{{mainFalsehood.metadata.dateMade}}</td>
            </tr>
            <tr>
                <td>Region</td>
                <td>{{mainFalsehood.metadata.region.name}}</td>
            </tr>
            <tr>
                <td>Institution</td>
                <td>{{mainFalsehood.metadata.institution.name}}</td>
            </tr>
        </table>

        <div [innerHTML]="mainFalsehood.contents | marked"></div>
    </div>

</div>

<div *ngIf="createNew" class="container form">
    <label>Common Lie</label>
    <input type="text" [(ngModel)]="newFalsehoodCLie">
    <br>
    
    <br>
    <label>Severity</label>
    <select [(ngModel)]="newFalsehoodSev">
        <option value="1">Objective Falsehood</option>
        <option value="2">Omitted Information</option>
        <option value="4">Subjective Falsehood</option>
        <option value="5">Something</option>
    </select>
    <br>
    <label>Author 1</label>
    <input type="text" [(ngModel)]="newFalsehoodA1">
    <br>
    <label>Date Made</label>
    <input type="date" [(ngModel)]="newFalsehoodDate">

    <textarea [(ngModel)]="editContents"></textarea>
  
  
    <div [innerHTML]="editContents | marked"></div>
  
    <button class="btn bg-info" (click)="stopCreateNew()"></button>

</div>