
<table *ngIf="falsehoods?.length > 0">
    <tr>
        <th>Media Outlet</th>
        <th>Status</th>
        <th>MediaType</th>
        <th>Severity</th>
        <th>Public Figures</th>
        <th>Date Made</th>
        <th>Content Id</th>
    </tr>
    <tr *ngFor="let falsehood of falsehoods">
        <td>{{falsehood.outlet.name}}</td>
        <td>{{falsehood.status}}</td>
        <td>{{falsehood.mediaType}}</td>
        <td>{{falsehood.severity}}</td>
        <td>{{falsehood.author1.name}}</td>
        <td>{{falsehood.dateMade}}</td>
        <td>{{falsehood.contentId}}</td>
    </tr>
</table>
