<table *ngIf="falsehoods?.length > 0">
    <tr>
        <th>Status</th>
        <th>Severity</th>
        <th>Figure Type</th>
        <th>Public Figure</th>
        <th>Institution</th>
        <th>Region</th>
        <th>Date Made</th>

    </tr>
    <tr *ngFor="let falsehood of falsehoods" (click)="selectFalsehood(falsehood)">
        <td>{{falsehood.status}}</td>
        <td>{{falsehood.severity}}</td>
        <td>{{falsehood.officialType}}</td>
        <td>{{falsehood.official.firstname + falsehood.official.middleNames + falsehood.official.lastName}}</td>
        <td>{{falsehood.institution.name}}</td>
        <td>{{falsehood.region.name}}</td>
        <td>{{falsehood.dateMade}}</td>
    </tr>
</table>
