<h2>Public Figure</h2>

<div *ngIf="!createNew">

    <div>
        <button *ngIf="token.credit >= 35" class="btn bg-info" (click)="startCreateNew()">Create New</button>
        <label>Search Public Figure</label>
        <input class="form-control" type="search" (change)="onSearchUpdate($event)" [(ngModel)]="searchText" placeholder="Search Public Figure">

        <ul *ngFor="let figure of searchFigures">
          <li (click)="getFigure(figure.id)">Public Figure: {{figure.firstname}} {{figure.middleNames}} {{figure.lastName}}</li>
        </ul>
    </div>

    <div *ngIf="mainFigure && mainFigure.figure">
        <h3>Title: {{mainFigure.figure.firstname + mainFigure.figure.middleNames + mainFigure.figure.lastName}}</h3>
    
        <button class="btn bg-info" (click)="setMode(1)">Wiki</button>
        <button class="btn bg-info" (click)="setMode(2)">Public Falsehoods</button>
        <button class="btn bg-info" (click)="setMode(3)">Media Falsehoods</button>

        <br>
        <div *ngIf="mainFigure.figure?.approved == 0 && token.credit >= 200">
          <button class="btn ng-info" (click)="approveFigure(true)">Approve Public FIgure</button>
          <button class="btn ng-info" (click)="approveFigure(false)">Reject Public Figure</button>
          <br>
        </div>

        <div *ngIf="mode==1" [innerHTML]="mainFigure.text | marked"></div>

        <div *ngIf="mode==2">
            <app-public-falsehood-search></app-public-falsehood-search>
        </div>
        <div *ngIf="mode==3">
            <app-falsehood-search></app-falsehood-search>
        </div>
    </div>

</div>

<div class="container form form-group" *ngIf="token.credit >= 40 && createNew">

    <label>Name</label>
    <input class="form-control" type="text" [(ngModel)]="editName">
    <textarea class="form-control" [(ngModel)]="editContents"></textarea>
  
  
    <div [innerHTML]="editContents | marked"></div>
  
    <button class="btn bg-info" (click)="addNewFig()">Submit</button>
    <button class="btn bg-info" (click)="stopCreateNew()">Cancel</button>
  </div>