<h2>Institution</h2>

<div *ngIf="!createNew">

<div>

  <button *ngIf="token.credit >= 35" class="btn bg-info" (click)="startCreateNew()">Create New</button>

  <label>Search Institution</label>
  <input class="form-control" type="search" (change)="onSearchUpdate($event)" [(ngModel)]="searchText" placeholder="Search Institution">

  <ul *ngFor="let inst of searchInst">
    <li (click)="getInst(inst.id)">Institution: {{inst.name}}</li>
  </ul>
</div>

<div *ngIf="mainInst">
  <h3>Title: {{mainInst.institution.name}}</h3>

  <button class="btn bg-info" (click)="setMode(1)">Wiki</button>
  <button class="btn bg-info" (click)="setMode(2)">Public Falsehoods</button>

  <br>
  <div *ngIf="mainInst.institution?.approved == 0 && token.credit >= 200">
    <button class="btn ng-info" (click)="approveInst(true)">Approve Institution</button>
    <button class="btn ng-info" (click)="approveInst(false)">Reject Institution</button>
    <br>
  </div>

  <div class="container">
    <div *ngIf="mode==1" [innerHTML]="mainInst.contents | marked">

    </div>
    
    <app-public-falsehood-search></app-public-falsehood-search>
    
  </div>
</div>

</div>

<div class="container form form-group" *ngIf="token.credit >= 35 && createNew">

  <label>Name</label>
  <input class="form-control" type="text" [(ngModel)]="editName">

  <textarea class="form-control" [(ngModel)]="editContents"></textarea>


  <div [innerHTML]="editContents | marked"></div>

  <button class="btn bg-info" (click)="addNewInst()">Submit</button>
  <button class="btn bg-info" (click)="stopCreateNew()">Cancel</button>
</div>